node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

coverage/

# Pasta Android do React Native
android/

# Arquivos gerados pelo Android Studio
*.iml
*.gradle
*.keystore
build/

yarn.lock

